*{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.navBar {
  background-color: navy;
  color: white;
  height: 100px;
}

.eventTile {
  display: inline-block;
  border: 1px solid black;
  width: 30%;
  color: white;
  font-size:vmax;
}
.eventTileImage:hover{
  border:1px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 60%;
    box-shadow: 0 0 15px rgb(13,110,253);
}

.eventTileImage {
  display: block;
  background-color: lightblue;
  border: black 1px solid;
  padding-top: 56.25%;
  border-radius: 10px;
  cursor: pointer
}

.eventBar{
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 10px 5px;
}

.scrollButton {
  background-color: black;
  border: none;
  color:white;
  padding: 5px;
  font-size:200%;
}

.eventBanner {
  display: inline-block;
  background-color: lightblue;
  border: black 1px solid;
  width: 640px;
  height: 360px;
  margin: 10px;
}

input, textarea {
  width: 75%;
  margin: 10px auto;
  text-align: left;
  padding: 10px
}

label{
  width:25%;
  text-align:right;
  vertical-align: top;
  padding: 10px;
}

h2 {
  text-align: center;
  padding:20px;
}

button {
  text-align: center;
}

.loginbox {
  display:block;
  justify-content: space-around;
  width: 300px
}

.logincomp {
  width:100%;
}

h3 {
  color:white;
  padding: 20px
}

p {
  width: 60%;
  display: inline-block
}
